body {
	font-family: 'Fira Sans', sans-serif;
	color: #616161;
	font-style: 18px;
}

button {
	display: block;
	border:none;
	background: transparent;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.nav {
	margin-bottom: 127px;
}

.btn {
	background: #3726F2;
	color:#fff;
	text-transform: uppercase;
	font-weight: 500;
	font-style: 14px;
	padding: 13px 25px;
	border: none;
	display: inline;
	border-radius: 0;
	letter-spacing: 0.3em;
	transition: all 0.5s ease;
}

.btn:hover {
	background-color: #291F9A;
	color:#fff;
}

.be-static {
	position: static;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: 900;
	color: #151515;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 38px;
}

h3 {
	font-size: 22px;
}

.header {
	padding-top: 29px ;
	height:100vh;

}

.logo {

}

.search{
	
	border: none;
}

.menu {

	border: none;
}

.offer-cont__tittle {
	font-size: 60px ;
	letter-spacing: -0.03em;
	line-height: 1.3em;
}

.offer-cont__text {
	margin: 30px 0 56px;
}

.offer-cont__btn {

}

.hero {
	background: url('../img/img1.jpg') no-repeat right top;
	background-size: 80% 100%;
	width: 55%;
	height: 80vh;
	position: absolute;
    right: 0;
    top: 142px;
}

.video {
	position: absolute;
	left: 0;
	bottom: 10%;
	width: 40%;
	height: 35%;
	display: block;
	background: url('../img/video.jpg') no-repeat center center;
	display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: -20px 60px 220px rgba(0,0,0,0.3);
}

.video:after {
	content: '';
	display: block;
	background: url(../img/play.svg);
	width: 65px;
	height: 65px;
}

/* По сути хуета */
.vh-dependent {
	height: 35vh;
	display: flex;
    align-items: center;
}

.problems {
	padding-top: 240px;
	padding-bottom: 240px;
}

.about {

}

.about__title {
	margin-bottom: 30px;;
}

.about__text {

}

.about__author {
	background: url(../img/author.jpg) no-repeat left center ;
	padding: 7px 0 7px 96px;
	margin-top: 61px;
}

.about__name {
font: sans-serif 22px;
}

.about__dop {
margin-bottom: 0;
}

.section-title__heading {
	color: #222222;
}

.section-title__label {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.25em;
	color: #222222;
	margin-bottom: 40px;
}

.servisec {
	padding-top: 70px;
	padding-bottom: 70px;
	background: #FFA89A;
}

.serv-list {
	color:#222222;
	margin-top:60px;
}

.serv-list__item {
	margin-bottom: 25px;
}

.serv-list-left {
	margin-left: 37px;
}

.result {
	padding-top: 140px;
}

.collage {
	padding-top: 219px;
	width: 50%;
	background: url('../img/img6.jpg') no-repeat left top / 80% 80%;
	height: 540px;
	position: absolute;
	left: 0;
}

.collage img {
	display: block;
	width: 350px;
	height: 453px;
	position: absolute;
	right: 0;
	bottom: 0;
	box-shadow: 30px 80px 130px rgba(0,0,0,0.25);
}

.easy {
	margin-left:65px;
}

.easy__title {
	margin-bottom: 30px;
}

.easy__text {
	margin-bottom: 62px;
}

.easy__point {
	text-transform: uppercase;
	color: #000000;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 83px;
	margin-top: 25px;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.1em;
}

.easy__point__first {
	background: url(../img/icon100.svg) no-repeat left center;
}

.easy__point__second {
	background: url(../img/bag.svg) no-repeat left center;
}

.works {
	padding-top: 283px;
}

.work-tabs {
	margin-left: 60px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin-top: 80px;
}

.work-tabs__item a {
	text-decoration: none;
	color: #8d8d8d
}

.work-tabs__item.active a {
	text-decoration: none;
	color: #1434E1
}

.works-wrap {
	flex-wrap: wrap;
	margin-top: 109px;
}

.works-wrap__item {
	margin-bottom: 30px;
	position: relative;
	display: block;
}

.works-wrap__item img {
	transition: all 1s ease;
	display: block;
}

.works-wrap__item:hover img {
	box-shadow: -30px 80px 200px rgba(0,0,0,0.25);
	-moz-transform: translate(0px, -10px);
	-webkit-transform: translate(0px, -10px);
	-o-transform: translate(0px, -10px);
	-ms-transform: translate(0px, -10px);
	transform: translate(0px, -10px);
}

.works-wrap__item:hover:after {
	content: '';
	display: block;
	background: url(../img/play.svg);
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left:-32px;
	margin-top: -32px;
}

.testimonials {
	padding-top: 240px;
}

.contributor {
	margin-top: 121px;
}

.contributor-title {
	margin-bottom: 30px;
}

.contributor__desc {

}

.cont-photo {
	display: block;
}

.clients {
	padding-top: 247px;
}

.clients-row {
	margin-top: 127px;
}

.footer {
	height: 240px;
	background: #515151;
	margin-top: 136px;
}

.footer-logo {
	margin-top: 109px;
	margin-bottom: 109px;
}

.section-title__heading_review {
	font-size: 20px;
}

@media screen and (max-width: 1200px){
	.work-tabs {
		margin-left: 0;
	}
	.works-wrap__item {
		width: 30%;
	}

	.works-wrap__item img {
		display: block;
		width: 100%;
	}
	
}

@media screen and (max-width: 992px){
	.work-tabs {
		margin-left: 0;
	}
	
}

@media screen and (max-width: 720px){
	.hero {
		position: relative;
		width: 100%;
		height: 300px;
		top: 0;
		margin-top: 50px;
	}
	.vh-dependent {
		display: flex;
		height: auto;
		top: 0;
	}
	.about {
		margin-top: 60px;
	}
	.collage {
		position: relative;
		width: 100%;
		height: 540px;
		margin-bottom: 70px;
	}
	.easy {
		margin-left:0;
	}
}

@media screen and (max-width: 576px){
	.serv-list-left {
		margin-left: 0;
	}	
	.works-wrap__item  {
		width: 100%;
		margin-bottom: 40px;
	}
	.clients-row{
		flex-direction: column;
		justify-content: center;
	}
}

