@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  font-weight: 400;
  font-family: "Montserrat";
  color: #000;
  background: url("../img/window.webp") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}

img {
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #282a30;
}

.unselectable-word {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently                                   not supported by any browser */
}

.be-relative {
  position: relative;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.stn-title {
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 50px;
}

.stn-title_white {
  color: #fff;
}

.stn-title_black {
  color: #000;
}

.stn-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #737373;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
}

.first {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.first__decoration {
  position: -webkit-sticky;
  position: sticky;
  content: "";
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.content {
  background: #fff;
}

.content__container {
  padding-top: 150px;
  padding-bottom: 150px;
}

.content__title {
  font-size: 40px;
  margin-bottom: 30px;
}

.content__text {
  font-size: 20px;
  color: #271d19;
  margin-bottom: 30px;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}