@import 'reset';
@import 'fonts';
@import 'variables';

body {
    font-weight: 400;
    font-family: 'Gilroy', sans-serif;
    color: #262626;
    background: #fff;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    text-align: inherit;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    color: #212121;
}

img {
    max-width: 100%;
}

.header__wrapper {
    background: #fff;
    position: relative;
    z-index: 3;
    padding-bottom: 14px;
    border-bottom: 1px solid #eeeeee;

    @media (max-width: 1240px) {
        padding-bottom: 0;
        border-bottom: unset;
    }
}

.header__container {
    padding-top: 22px;

    @media (max-width: 1240px) {
        padding-top: 8px;
    }
}

.header__top {
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 1240px) {
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 8px;
        padding-bottom: 8px;

        &::after {
            content: '';
            position: absolute;
            width: 100vw;
            left: -20px;
            bottom: 0;
            height: 1px;
            background: #eeeeee;
        }
    }
}

.burger {
    position: relative;
    width: 20px;
    height: 14px;
    transition: all 0.3s;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &.header__menuBtn--active {
        .burger__line:nth-child(1) {
            transform: rotate(45deg) translate(4px, 3px);
        }
        .burger__line:nth-child(2) {
            transform: rotate(-45deg) translate(5px, -5px);
        }
        .burger__line:nth-child(3) {
            display: none;
        }
    }

    @media (max-width: 1240px) {
        display: flex;
    }
}

.burger__line {
    display: block;
    width: 20px;
    height: 2px;
    background: #231f20;
    transition: all 0.3s ease;
}

.header__logo {
    margin-right: 68px;

    @media (max-width: 1240px) {
        margin-right: 0;
    }
}

.header__city {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}

.header__magazine {
    display: flex;
    gap: 3px;
    align-items: center;
    margin-right: 50px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid #e5e5e5;
    }
}

.header__text {
    color: #7e7e7e;
}

.header__searchBlock {
    position: relative;
    max-width: 581px;
    width: 100%;
    margin-right: 32px;

    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background: url('@img/header/search.svg') no-repeat;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
    }

    @media (max-width: 1240px) {
        max-width: 100%;
        margin-right: 0;
    }
}

.header__search {
    width: 100%;
    height: 40px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 13px;
    line-height: 16px;
    padding-left: 50px;

    &::-webkit-input-placeholder {
        color: #7e7e7e;
    }

    &:focus {
        outline: none;
    }
}

.header__callback {
    border: 1px solid rgba(216, 216, 216, 0.4);
    border-radius: 3px;
    display: flex;
    gap: 10px;
    min-width: 180px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 16px;
    background: #fff;
    margin-right: 32px;
    transition: $transition;

    & .header__callbackImg {
        opacity: 0.4;
        transition: $transition;
    }

    &:hover {
        border: 1px solid rgba(216, 216, 216, 1);
    }

    &:hover .header__callbackImg {
        opacity: 1;
    }

    @media (max-width: 1240px) {
        margin-right: 0;
        min-width: 20px;
        border: none;
    }
}

.header__numbersBlock {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 32px;

    @media (max-width: 1760px) {
        display: none;
    }
}

.header__numbersBlock--mobile {
    @media (max-width: 1240px) {
        display: flex;
    }
}

.header__number {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #212121;
}

.header__all {
    color: #00b6c9;
    font-size: 11px;
    line-height: 10px;
    white-space: pre-wrap;
    width: 50px;
    align-items: center;
}

.header__icons {
    display: flex;
    margin-left: auto;
    gap: 25px;
    align-items: center;
}

.header__icon {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;

    & svg path {
        transition: $transition;
    }

    &:hover svg path {
        fill: #00b6c9;
    }
}

.country {
    @media (max-width: 1240px) {
        display: none;
    }
}

.country__select {
    width: 65px;
    margin-right: 27px;

    &.dropdown-active {
        .ts-control {
            border-radius: 3px 3px 0 0;
        }
    }

    .ts-control {
        border: 1px solid #eeeeee;
        border-radius: 3px;
        padding: 12px 8px;
    }

    .ts-dropdown {
        margin-top: 0;
        border: 1px solid #eeeeee;
        border-top: 0;
    }

    // .country__option {
    //     padding-left: 12px;
    // }
}

.country__item {
    width: 100%;
    background: url('@img/header/dropdown.svg') no-repeat right 10px center;
}

#header-country-ts-control {
    display: none !important;
}

.ts-wrapper .option .title {
    display: block;
}
.ts-wrapper .option .url {
    font-size: 12px;
    display: block;
    color: red;
}

.header__counter {
    position: absolute;
    right: -50%;
    top: -50%;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00bac1;
}

.header__bottom {
    margin-top: 25px;
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1240px) {
        margin-top: 0;
        flex-direction: column;
        gap: 0;
    }
}

.header__menuBtnDesktop {
    position: relative;
    display: flex;
    background: #00b6c9;
    border-radius: 3px;
    min-width: 180px;
    height: 40px;
    align-items: center;
    padding: 15px;
    gap: 25px;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    transition: $transition;

    &:hover {
        background: #57e1e7;
    }

    &.header__menuBtn--active:before {
        content: '';
        position: absolute;
        left: 80px;
        bottom: -19px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background: #fff;
        border-left: 1px solid #eee;
        border-top: 1px solid #eee;
    }
}

.nav {
    max-width: 1432px;
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    display: flex;
    gap: 10px;
}

.nav__link {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    &:hover {
        color: #00b6c9;
    }
}

.nav__link--sale {
    color: #ff0064;

    &:hover {
        opacity: 0.7;
        color: #ff0064;
    }
}

.menu {
    overflow-y: scroll;
    scrollbar-width: none;
    background: #fff;
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 100%;
    top: $xl-header;
    height: calc(100vh - $xl-header);

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @media (max-width: 1760px) {
        top: $md-header;
        height: calc(100vh - $md-header);
    }

    @media (max-width: 1240px) {
        top: $xs-header;
        height: calc(100vh - $xs-header);
    }
}

.menu--active {
    z-index: 3;
    opacity: 1;
}

.menu__container {
    width: 100%;
    display: flex;
    height: 100%;
    padding-right: calc((100% - 1720px) / 2);
    gap: 90px;

    @media (max-width: 1760px) {
        padding-right: 20px;
    }

    @media (max-width: 1240px) {
        padding-right: 0;
    }
}

.menu__sidebar {
    border-right: 1px solid #eeeeee;

    @media (max-width: 1240px) {
        width: 100%;
    }
}

.menu__list {
    display: flex;
    flex-direction: column;
}

.menu__tag--selected {
    .menu__type {
        color: #00b6c9;
        text-decoration-line: underline;
    }
}

.menu__item--mobile {
    display: none;

    @media (max-width: 1240px) {
        display: flex;
    }
}

.menu__tag {
    height: 55px;
    display: flex;
    align-items: center;
    gap: 26px;
    border-bottom: 1px solid #eeeeee;
    padding-left: calc((100vw - 1720px) / 2);
    width: calc(((100vw - 1720px) / 2) + 338px);

    @media (max-width: 1760px) {
        width: 338px;
        padding-left: 20px;
    }

    @media (max-width: 1240px) {
        gap: 10px;
        width: 100%;
        padding-right: 20px;
        background: url('@img/header/right.svg') right 20px center no-repeat;
    }
}

.menu__tag--colored {
    background: #f8f8f8;
}

.menu__iconBlock {
    min-width: 55px;
    display: flex;
    justify-content: center;

    @media (max-width: 1240px) {
        min-width: 44px;
    }
}

.menu__icon {
    max-width: 55px;
    width: fit-content;
    display: flex;
    justify-content: center;

    @media (max-width: 1240px) {
        max-width: 44px;
    }
}

.menu__type {
    color: #262626;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;

    @media (max-width: 1240px) {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
    }
}

.menu__type--sale {
    color: #ff0064;
}

.menu__wrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    padding-top: 32px;

    @media (max-width: 1240px) {
        position: absolute;
        left: 0;
        background: #fff;
        top: 0;
        z-index: -1;
        opacity: 0;
        padding: 0;
        height: 100%;
        flex-direction: column;
        overflow: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }
}

.menu__wrapper--active {
    z-index: 1;
    opacity: 1;

    @media (max-width: 1240px) {
        z-index: 1;
        opacity: 1;
    }
}

.menu__callBlock {
    padding: 0 20px 40px;
    background: #f8f8f8;
    display: none;

    @media (max-width: 1240px) {
        display: block;
    }
}

.menu__callBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    border: 1px solid #262626;
    border-radius: 3px;
    padding: 12px;
}

.header__geo {
    display: none;
    align-items: center;
    gap: 25px;
    padding: 20px;
    width: 100%;
    background: url('@img/header/right.svg') right center no-repeat;
}

.header__geo--active {
    @media (max-width: 1240px) {
        display: flex;
    }
}

.header__cityMobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    gap: 15px;
    color: #878787;
}

.header__cityMobileValue {
    color: #212121;
    font-weight: 500;
}

.menu__block {
    display: none;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    padding-bottom: 30px;
}

.menu__block--selected {
    display: flex;
}

.menu__content {
    display: flex;
    flex-direction: column;
    gap: 23px;
    flex-grow: 1;
}

.menu__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #212121;

    @media (max-width: 1240px) {
        display: none;
    }
}

.menu__sortList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 53px;
    padding-bottom: 30px;

    @media (max-width: 1240px) {
        width: 100%;
    }
}
.menu__sortItem {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 33.33%;

    @media (max-width: 1760px) {
        width: 50%;
    }

    @media (max-width: 1240px) {
        display: none;

        &:nth-child(1) {
            display: flex;
            width: 100%;
        }
    }
}
.menu__sortValue {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #00b6c9;

    @media (max-width: 1240px) {
        display: none;
    }
}
.menu__sublist {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (max-width: 1240px) {
        gap: 0;
    }
}
.menu__sublistItem {
    padding-right: 34px;

    @media (max-width: 1240px) {
        padding-right: 0;
    }
}

.menu__sublistItem--tablet {
    display: none;

    @media (max-width: 1240px) {
        display: block;
    }
}

.menu__back {
    display: none;
    @media (max-width: 1240px) {
        display: flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        height: 56px;
        min-height: 56px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #eeeeee;
        border-top: 1px solid #eeeeee;
        padding-left: 44px;
        background: url('@img/header/back.svg') left 20px center no-repeat;
    }
}

.menu__sublistLink {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #262626;

    @media (max-width: 1240px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        height: 55px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid #eeeeee;
        background: url('@img/header/right.svg') right 20px center no-repeat;
    }
}

.menu__posters {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (max-width: 1240px) {
        display: none;
    }
}

.menu__poster {
    width: 406px;
    min-width: 406px;
    object-fit: cover;

    @media (max-width: 1400px) {
        min-width: 300px;
        width: 300px;
    }
}

.basket {
    z-index: -1;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    max-width: 514px;
    background: #ffffff;
    overflow-y: auto;
    scrollbar-width: none;
    padding-bottom: 30px;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    @media (max-width: 900px) {
        max-width: 100%;
    }
}

.basket--active {
    z-index: 4;
    opacity: 1;
}

.basket__top {
    padding: 38px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #eeeeee;
}

.basket__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #262626;
}

.basket__container {
    padding-left: 32px;
    max-width: 438px;

    @media (max-width: 900px) {
        max-width: 100%;
        padding: 0 20px;
    }
}

.basket__list {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.basket__item {
    max-width: 407px;
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eeeeee;

    @media (max-width: 900px) {
        max-width: 100%;
        flex-wrap: wrap;
        gap: 10px 30px;
    }
}

.basket__img {
    max-width: 71px;
    height: auto;
}

.basket__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.basket__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
}

.basket__row--centered {
    align-items: center;
}

.basket__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    max-width: 200px;
}
.basket__priceBlock {
    display: flex;
    flex-direction: column;
}
.basket__currentPrice {
    color: #00b9c0;
    font-size: 11px;
    line-height: 14px;
    font-weight: 400;
}
.basket__currentPriceValue {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}
.basket__oldPrice {
    color: #7e7e7e;
    font-size: 11px;
    line-height: 14px;
    text-decoration: line-through;
}

.basket__actions {
    display: flex;
    gap: 23px;
}

.basket__action {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border-bottom: 1px dotted #262626;
}
.basket__qunatityBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.basket__quantity {
    background: #ffffff;
    width: 36px;
    height: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeeeee;
}

.basket__totalBlock {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.basket__totalTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.basket__totalValue {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #00b6c9;
}

.basket__bonus {
    margin-top: 16px;
    display: flex;
    align-items: flex-start;
    gap: 9px;
}

.basket__bonusText {
    font-size: 14px;
    line-height: 24px;
}

.basket__bonusValue {
    font-weight: 600;
}

.basket__buttons {
    display: flex;
    gap: 23px;
    margin-top: 20px;
    margin-bottom: 25px;
}
.basket__click {
    width: 50%;
    height: 43px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket__order {
    width: 50%;
    height: 43px;
    background: #00b9c0;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket__additional {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    max-width: 438px;
    align-items: center;
    margin-bottom: 20px;

    @media (max-width: 900px) {
        max-width: 100%;
        padding: 0 20px;
    }
}
.basket__additionalTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.basket__navBtn {
    display: flex;
    gap: 7px;
    align-items: center;
}
.basket__btn {
    display: flex;
    align-items: center;
}

.basket__btn--next {
    transform: rotate(180deg);
}

.basket__swiper.swiper {
    padding-left: 34px;
    padding-right: 34px;

    & .swiper-slide {
        width: auto;
    }

    @media (max-width: 900px) {
        max-width: 100%;
        padding: 0 20px;
    }
}

.overlay {
    z-index: -1;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(26, 26, 24, 0.5);
    top: 0;
    left: 0;
}

.overlay--active {
    z-index: 2;
    opacity: 1;
}

.overlay--active2 {
    z-index: 4;
    opacity: 1;
}

.header__desktop {
    @media (max-width: 1240px) {
        display: none;
    }
}

.header__tablet {
    display: none;
    @media (max-width: 1240px) {
        display: flex;
    }
}

.footer {
    background: rgba(246, 246, 246, 0.79);
}

.footer__container {
    padding-top: 72px;
    padding-bottom: 72px;

    @media (max-width: 900px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    @media (max-width: 1240px) {
        flex-direction: column;
    }

    @media (max-width: 900px) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #eeeeee;
    }
}

.footer__nav {
    max-width: 1136px;

    @media (max-width: 1240px) {
        max-width: 100%;
        margin-bottom: 40px;
    }

    @media (max-width: 900px) {
        margin-bottom: 30px;
    }
}

.footer__dropdownBtn {
    cursor: default;

    @media (max-width: 900px) {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 16px 0;
    }
}

.footer__dropdownBtn--active {
    padding-bottom: 4px;
    & .footer__dropdownIcon {
        transform: rotate(180deg);
    }
}

.footer__dropdownIcon {
    display: none;

    @media (max-width: 900px) {
        display: block;
    }
}

.footer__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;

    @media (max-width: 900px) {
        gap: 0;
    }
}

.footer__block {
    width: 50%;

    @media (max-width: 900px) {
        width: 100%;
        border-top: 1px solid #eeeeee;

        &:last-child {
            border-bottom: 1px solid #eeeeee;
        }
    }
}

.footer__caption {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 22px;

    @media (max-width: 900px) {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 22px;
    }
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;

    @media (max-width: 900px) {
        padding-left: 8px;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        will-change: max-height;
        box-sizing: content-box;
    }
}

.footer__links--active {
    @media (max-width: 900px) {
        opacity: 1;
        max-height: 1000px;
        padding-bottom: 16px;
    }
}

.footer__item {
    width: 50%;
    padding-right: 15px;

    @media (max-width: 900px) {
        width: 100%;
    }
}

.footer__link {
    line-height: 33px;
    color: #757575;

    &:hover {
        color: #00b6c9;
        text-decoration: underline;
    }

    @media (max-width: 900px) {
        font-size: 14px;
        line-height: 28px;
    }
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 1240px) {
        flex-direction: row;
        align-items: flex-start;
    }

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.footer__socialBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 1240px) {
        align-items: flex-start;
    }

    @media (max-width: 900px) {
        gap: 16px;
        align-items: center;
    }
}

.footer__socialList {
    display: flex;
    gap: 13px;
    align-items: center;
}

.footer__socialItem {
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    align-items: center;
}

.footer__social {
    & svg path {
        transition: $transition;
    }

    &:hover {
        & svg path {
            fill: #00b6c9;
        }
    }
}

.footer__telephones {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.footer__telephoneLink {
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover .footer__telephone {
        color: #00b6c9;
    }
}

.footer__telephonesImgBlock {
    width: 35px;
    display: flex;
    justify-content: center;
}

.footer__telephone {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;

    @media (max-width: 900px) {
        font-size: 16px;
        line-height: 19px;
    }
}

.footer__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 900px) {
        flex-direction: column;
        align-items: center;
    }
}

.footer__privacy {
    font-size: 16px;
    line-height: 33px;
    color: #757575;

    transition: $transition;

    &:hover {
        text-decoration: underline;
    }

    @media (max-width: 900px) {
        font-size: 12px;
        line-height: 18px;
    }
}

.footer__madeBy {
    font-size: 16px;
    line-height: 33px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: #757575;

    &:hover {
        text-decoration: underline;
    }

    @media (max-width: 900px) {
        font-size: 12px;
        line-height: 18px;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        border-bottom: 1px solid #eeeeee;
    }
}

.footer__madeBy--desktop {
    @media (max-width: 900px) {
        display: none;
    }
}

.footer__madeBy--tablet {
    display: none;

    @media (max-width: 900px) {
        display: flex;
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid #ebebeb;

    @media (max-width: 1240px) {
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
    }

    @media (max-width: 900px) {
        border-top: none;
        margin-top: 16px;
        padding: 0;
        gap: 0;
    }
}

.footer__addressBlock {
    font-size: 14px;
    line-height: 21px;
    max-width: 690px;

    @media (max-width: 1240px) {
        max-width: 100%;
    }

    @media (max-width: 900px) {
        text-align: center;
        font-size: 12px;
        line-height: 14px;
    }
}

.footer__company {
    color: #231f20;
}

.footer__addres {
    color: #7e7e7e;
}

.footer__abilityList {
    display: flex;
    align-items: center;
    gap: 12px;

    @media (max-width: 900px) {
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        flex-wrap: wrap;
        gap: 15px;
    }
}

.footer__abilityItem {
    max-height: 40px;

    @media (max-width: 900px) {
        max-height: 24px;
    }
}

.footer__abilityImg {
    max-height: inherit;
}

.non-scrollable {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}
